.idea/
.DS_Store

*.pyc
*.zip
*.pt
nerf_synthetic/
nerf-synthetic-checkpoints/

accelerating_nerfs/results/
results/
.ipynb_checkpoints/

*.cprof
*.pstat
*.pclprof

# accelergy/timeloop docker cruft
.bashrc
.profile
.config/
.local/
.cache/
.ipython/
.jupyter/
