.idea/
.DS_Store

*.pyc
*.zip
*.pt
nerf_synthetic/
nerf-synthetic-checkpoints/

.ipynb_checkpoints/

*.cprof
*.pstat
*.pclprof

# results
results/**/rgb/
results_fp16/**/rgb/

# accelergy/timeloop docker cruft
.bashrc
.bash_history
.profile
.wget-hsts
.config/
.local/
.cache/
.ipython/
.jupyter/
