.idea/
.DS_Store

*.pyc
*.zip
*.pt
nerf_synthetic/
nerf-synthetic-checkpoints/

.ipynb_checkpoints/

*.cprof
*.pstat
*.pclprof

# results
accelerating_nerfs/results/
results/**/rgb/
results_fp16/**/rgb/
results_copy/

# accelergy/timeloop docker cruft
.bashrc
.bash_history
.profile
.pdbhistory
.python_history
results_tmp.txt
.wget-hsts
.config/
.local/
.cache/
.ipython/
.jupyter/
