p {
    margin-bottom: 0.5rem;
}

.main {
    margin-top: 50px;
    margin-left: 50px;
}

.title {
    margin-bottom: 15px;
    max-width: 800px;
    line-height: 1.3;
}

.small-text {
    font-size: 15px;
}

.asset-button {
    padding: 5px;
}

.asset-button:first-of-type {
    padding-left: 15px;
}

.btn-primary {
    background-color: rgb(92, 113, 230);
    border-color: white;
}

.btn-primary:hover {
    background-color: rgb(56, 85, 215);
    border-color: white;
}

/* Customize video layout */
.video-container {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
    position: relative;
}

.video-container video {
    width: 100%;
    height: auto;
}

.video-title {
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    padding: 5px 10px;
    font-size: 16px;
    line-height: 1.2;
    border-radius: 5px;
}